body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
main {
  text-align: center; /* Me deja todo el home centrado*/
  color: white;
}

.main-div {
  background: url(../imagenes/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 100px;
}

#despedida {
  font-size: 100px;
}

#uwu {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
}

.logoig {
  margin-top: 30px;
  height: 100px;
}
